@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin divider($color: $accent1) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}
// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h2{
  font-family: $fonts-headline;
}
h3,
h4 {
  font-family: $fonts-headline3;
  margin: 0;
}
h1 {
  background: $accent1;
  color: $text-light;
  display: inline-block;
  font-family: $fonts-headline3;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  font-size: 6.5em;
}
h2 {
  color: $text-light;
  font-size: 5em;
  letter-spacing: 1px;
  line-height: 1em;
}
h3 {
  font-size: 3em;
  font-weight: 300; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}
h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}
h1 {
  color: $text-light;
  text-shadow:
    0 0 7px $text-light,
    0 0 10px $text-light,
    0 0 21px $text-light,
    0 0 42px $accent2,
    0 0 82px $accent2,
    0 0 92px $accent2,
    0 0 102px $accent2,
    0 0 151px $accent2;
}

h3,
h4 {
  color: $text-light;
  text-shadow:
    0 0 7px $text-light,
    0 0 10px $text-light,
    0 0 21px $text-light,
    0 0 42px $primary,
    0 0 82px $primary,
    0 0 92px $primary,
    0 0 102px $primary,
    0 0 151px $primary;
}

h2 {

  color: $text-light;
  display: inline-block;

  margin-bottom: 1em;
  padding: 0.5em 1em;
  color: $text-light;
  text-shadow:
    0 0 7px $text-light,
    0 0 10px $text-light,
    0 0 21px $text-light,
    0 0 42px $accent1,
    0 0 82px $accent1,
    0 0 92px $accent1,
    0 0 102px $accent1,
    0 0 151px $accent1;
    background: $dark-transparent;
    border-style:double;
    border-width: 20px;
    border-color: $accent1;

    box-shadow: 10px 10px 60px 10px $green-glow;
}

p {
  @include set-font(1em, 1.5em);
  padding: 0.5em 0;
  margin: 0;
  color: $text-light;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  border-bottom: 1px solid $pink-glow;
  color: $text-dark;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: $accent1;
}
