$fonts-headline: 'Neonderthaw',cursive;
$fonts-body: 'Tajawal',sans-serif;
$fonts-headline2:  'Lemonada',cursive;
$fonts-headline3: 'MuseoModerno',cursive;
$fonts-headline4: 'Tourney', cursive;
$background-color: #151c2b;
$primary: #151c2b;
$accent1: #30D952;
$accent2: #D733AB;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #00E4F5;
$blue: #00E4F5;
$text-light: #fff;
$blue-glow:#00e5f536;
$pink-glow:#d733ab67;
$green-glow:#108f2969;
$dark-transparent:#0000008c;