@use 'variables' as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Tajawal:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=MuseoModerno:wght@100;400;700&family=Tourney:ital,wght@0,500;1,500&display=swap');
* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  background: url(cityscape.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {
  font-family: $fonts-body;
  font-size: 18px;
  color: $text-dark;
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding:0;

}
.page.wrapper {
  display:grid;
  grid-template-columns: repeat(17, auto);
  grid-template-rows: repeat(19, auto);
}
.intro, main {
  display:content;
}
header {
  grid-row:2/4;
  grid-column: 5/15;
}
.summary {
  grid-row:3/7;
  grid-column:9/16;
}
aside {
  grid-row:5/11;
  grid-column:3/6;
}
.preamble{
  grid-row: 6/13;
  grid-column: 7/12;
}
.benefits{
  grid-row: 8/9;
  grid-column: 13/16;
}
.explanation{
  grid-row: 11/13;
  grid-column: 4/8;
}
.requirements{
  grid-row: 10/16;
  grid-column: 11/17;
}
.participation{
  grid-row: 15/19;
  grid-column: 2/9;
}
footer{
  grid-row: 17/18;
  grid-column: 10/14;
}